@use '../variables' as *;

.main-nav {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  flex-direction: row;
}

.left-nav {

  > ul {
    > li {
      // border: 1px solid black;
      display: inline;
      padding: 10px;
    }
  }

  span {
    // display: inline-block;
    // border: 1px solid black;
    padding: 10px;
  }
}

.right-nav  {
  > ul {
    > li {
      display: flex;
      flex-direction: row;
      padding-top: 10px;
    }

    > li:last-of-type {
      
    }
  }
  
  i {
    
  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: grey;
}

    