<div class="masthead">
    <div class="language-nav">
        <a href="#">
            CSS
        </a>
        <a href="#">
            HTML
        </a>
        <a href="#">
            JavaScript
        </a>
        <a href="#">
            Ruby
        </a>
    </div>
    <div class="logo">
        App Academy Times
    </div>
    <ul class="masthead-links">
        <li>
            This Sucks
        </li>
    </ul>
</div>